{% block body %}
{% endblock %}

{% block signature %}
    {{ EMAIL_SIGNATURE_HTML|raw }}
{% endblock %}

<p class="attribution" style="padding: 2em 0 0 0; margin: 2em 0 0 0; border-top: 1px solid #f9f9f9; font-size: 10px; color: gray; font-family: sans-serif">Powered by <a href="https://github.com/CyrusBiotechnology/github2jira">Github2Jira</a></p>