{% extends 'emails/base.html.twig' %}

{% block body %}

    {{ body }}

    {% if messages is defined and messages is not empty %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}